<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-card class="main-card">
        <v-container fluid grid-list-md>
          <div class="display-1 mb-5">Top Stories from Al-Jazeera</div>

          <v-layout row wrap v-if="loading">
            <v-flex xs12>
              <div class="text-xs-center">
                <v-progress-circular indeterminate color="primary"></v-progress-circular>
              </div>
            </v-flex>
          </v-layout>

          <v-layout row wrap v-else>
            <v-flex
              v-for="news in completeNews"
              v-bind="{[`xs12 sm6 md4`]: true }"
              :key="news.url"
              mb-3
            >
              <v-card hover height="350px" :href="news.url" target="_blank">
                <v-img :src="news.urlToImage" height="200px" v-if="news.urlToImage"></v-img>
                <v-card-title primary-title>
                  <div>
                    <div class="title">{{ news.title }}</div>
                    <span class="grey--text" justify-end>{{ news.source.name }}</span>
                  </div>
                </v-card-title>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  computed: {
    ajNews() {
      return this.$store.getters.loadalJazeera;
    },
    completeNews() {
      return this.ajNews.filter(function(news) {
        if (news.urlToImage) {
          return news;
        }
      });
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  created: function() {
    this.$store.dispatch("loadalJazeera");
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
.main-card {
  width: 100%;
  min-height: 100vh;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>