<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-card class="main-card">
        <v-container fluid grid-list-md>
          <div class="display-1 mb-5">Sports</div>

          <v-layout row wrap v-if="loading">
            <v-flex xs12>
              <div class="text-xs-center">
                <v-progress-circular indeterminate color="primary"></v-progress-circular>
              </div>
            </v-flex>
          </v-layout>

          <v-layout row wrap v-else>
            <v-flex
              v-for="news in completeNews"
              v-bind="{ [`xs12 sm6 md4`]: true }"
              :key="news.url"
              mb-3
            >
              <v-card hover height="350px" :href="news.url" target="_blank">
                <v-img :src="news.urlToImage" height="200px"></v-img>
                <v-card-title primary-title>
                  <div>
                    <div class="title">{{ news.title }}</div>
                    <span class="grey--text" justify-end>{{ news.source.name }}</span>
                  </div>
                </v-card-title>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  computed: {
    sportNews() {
      return this.$store.getters.loadSports;
    },
    completeNews() {
      return this.sportNews.filter(function(news) {
        if (news.urlToImage) {
          return news;
        }
      });
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  created: function() {
    this.$store.dispatch("loadSports");
  }
};
</script>

<style scoped>
.main-card {
  width: 100%;
  min-height: 100vh;
}
</style>
