<template>
  <v-app>
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="true"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
      <v-list>
        <v-list-tile value="true" v-for="item in items" :key="item.title" :to="item.url">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider class="mt-5"></v-divider>
        <v-list-tile value="true" v-for="item in items2" :key="item.title" :to="item.url">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app :clipped-left="true">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <!-- <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>web</v-icon>
      </v-btn>
      <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>remove</v-icon>
      </v-btn>-->
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">{{ title }}</router-link>
      </v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-navigation-drawer temporary :right="right" v-model="rightDrawer" fixed app></v-navigation-drawer>
    <v-footer :fixed="fixed" app>
      <span>&copy; {{ currentYear }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      drawer: true,
      fixed: true,
      items: [
        {
          icon: "fas fa-home",
          title: "Top Stories",
          url: "/"
        },
        {
          icon: "fab fa-autoprefixer",
          title: "Al-Jazeera",
          url: "/sources/aljazeera"
        },
        {
          icon: "fab fa-blogger",
          title: "BBC",
          url: "/sources/bbc"
        }
      ],
      items2: [
        {
          icon: "fas fa-football-ball",
          title: "Sports",
          url: "/category/sports"
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "NewsYouVerified",
      home: "/"
    };
  },
  computed: {
    currentYear: function() {
      return new Date().getFullYear();
    }
  }
};
</script>
